<div class="container">
    <div class="inside-div">
        <div class="div-header">
            Login
        </div>
        <div class="div-body">
            <form class="login-form">
                <label>Email</label>
                <input type="email" class="email">
                <label>Password</label>
                <input type="password" class="password">
                <input type="checkbox" name="rememberMe" id="">Remember me
                <button class="btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>